<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="main-content">
        {{>header}}
    <img src="/img/me.png" alt="image" class="potrait" />
    </div>
    {{>footer}}
  </body>
</html>